/* css.sty */

/* panel principal */
body {
	//background:yellow;
    margin: auto;
    width: 80%;
    max-width: 80%;
    font-size:120%;
    text-align: justify;
    text-justify: inter-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
    hyphens:auto;
    margin-top:0px;
}


/* panel toc */
body#tex4ht-menu {
	background: #F4F4F4;
	max-width: 70%;
	font-size:100%;
	white-space: normal;
}


body#tex4ht-main {
	//background:green;
	//font-size:200%;
}

/* título en portada */
h2.titleHead {
	font-size:300%;
}

nav.breadcrumbs-bar {
  //border: 1px solid black;
  text-align: center;
  overflow: auto;
  background-color: #F4F4F4;
  position: fixed; 
  top: 0px; 
  left: 0px;
  width: 100%;
  height: 2em;
  padding: 0px;
  margin: 0px;
  line-height: 2em;// centrar texto verticalmente
  font-size:100%;	
  z-index:1; // para que no lo tapen otros elementos como iframes
}



nav.controls-bar {
  overflow: hidden;
  position: fixed;
  top: 50%;
  width: 100%;
  left: 0;
  display:grid;
  grid-template-columns: 10% 80% 10%;
  justify-items: center;
  z-index:-1;
}

nav.controls-bar nav.prev {
  //border: 1px solid black;
  grid-column-start: 1;
  grid-column-end: 1;
  font-size:200%;
}


nav.controls-bar nav.next {
  //border: 1px solid black;
  grid-column: 3;
  font-size:200%;
}


nav.controls-bar a:hover{
	color: gray;
	text-decoration: none;
}

/* links */
a:link{
	color: #005AA0;
	text-decoration: none;
}

a:visited {
	color: #005AA0;
}

a:hover {
	text-decoration: underline;
}


.fakebreadcrumbs {
	//background:yellow;
	display: inline-block;
	text-decoration:none;
	vertical-align: bottom;
	font-size: 100%;
	padding: 0px;
	margin: 0px;
	margin-left: -1em;
	margin-bottom: 2em;
}

/* evita outline alrededor de fakebreadcrumbs en Chrome */
.sectionHead a:focus, .likesectionHead a:focus, .subsectionHead a:focus, .likesubsectionHead a:focus {
    outline: none;
    -moz-outline-style: none;
}



/* ============================================================
 * Cabeceras de secciones y subsecciones en el texto
 * ============================================================
 */
 
.sectionHead {
	font-family: sans-serif;
	font-size: 200%;
}

.likesectionHead {
	font-family: sans-serif;
	font-size:200%;
}

.subsectionHead {
	font-family: sans-serif;
	font-size:150%;
}

.subsubsectionHead {
	font-family: sans-serif;
	font-size:125%;
}

/* ============================================================
 * Cabeceras de secciones y subsecciones en el texto
 * ============================================================
 */
 
.sectionToc {
	font-family: sans-serif;
	font-size:100%;
}

.likesectionToc {
	font-family: sans-serif;
	font-size: 100%;
} 

.subsectionToc {
	font-family: sans-serif;
	font-size: 100%;
}


/* ============================================================
 * Título en toc
 * ============================================================
 */
 
.title-in-toc {
	//font-family: sans-serif;
	font-size: 150%;
	font-weight: bold;
}